{% extends "base.html" %}

{% block title %}Сброс вашего пароля{% endblock title %}

{% block content %}
  <h1>Сброс пароля.</h1>
  {% if validlink %}
    <p>Дважды введите ваш пароль.</p>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" value="Сменить пароль">
    </form>
  {% else %}
    <p>Ссылка не действительна. Возможно истекло время использования или
      ей уже воспользовались. Пожалуйста, запросите сброс пароля снова.</p>
  {% endif %}
{% endblock content %}